
.card {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  transition: 0.5s;
  background: #1FC4A6;
  grid-column-start: auto;
  grid-row-start: auto;
}

.card article {
  display: flex;
  flex-direction: column;
}

.card h3 {
  color: #fff;
  opacity: 90%;
}

.card .articleTitle {
  font-size: 24px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: .05em;
}

.gradientOverlay {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px;
  padding: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-size: 100% 400%;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.gradientOverlay:hover {
  background-position: 0 100%;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.gradientOverlay:hover h3 {
  opacity: 100%;
}

.articles {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}

.card:nth-child(1) .gradientOverlay {
  background-image: linear-gradient(to bottom, rgba(255, 180, 92,0.65) 0%,rgba(233, 70, 70,0.9) 25%, rgba(255, 180, 92,0.9) 75%,rgba(233, 70, 70,1) 100%);
  box-shadow: 0px 10px 10px rgba(233, 70, 70, 0.7);
}

.card:nth-child(2) .gradientOverlay {
  background-image: linear-gradient(to bottom,rgba(138, 119, 255,0.65) 0%,rgba(31, 196, 166,0.9) 25%,rgba(138, 119, 255,0.9) 75%,rgba(31, 196, 166,1) 100%);
  box-shadow: 0px 10px 10px rgba(31, 196, 166, 0.7);
}

.card:nth-child(3) .gradientOverlay {
  background-image: linear-gradient(to bottom,rgba(255, 102, 102,0.65) 0%,rgba(112, 43, 224,0.9) 25%,rgba(255, 102, 102,0.9) 75%,rgba(112, 43, 224,1) 100%);
  box-shadow: 0px 10px 10px rgba(112, 43, 224, 0.7);
}

.card:nth-child(4) .gradientOverlay {
  background-image: linear-gradient(to bottom, rgba(37, 170, 225,0.65) 0%,rgba(68, 129, 235, 0.9) 25%, rgba(37, 170, 225,0.9) 75%,rgba(68, 129, 235,1) 100%);
  box-shadow: 0px 10px 10px rgba(68, 129, 235, 0.7);
}

.card:nth-child(5) .gradientOverlay {
  background-image: linear-gradient(to bottom,rgba(237, 110, 160,0.65) 0%,rgba(236, 140, 105,0.9) 25%,rgba(237, 110, 160,0.9) 75%,rgba(236, 140, 105,1) 100%);
  box-shadow: 0px 10px 10px rgba(236, 140, 105, 0.7);
}

.card:nth-child(6) .gradientOverlay {
  background-image: linear-gradient(to bottom,rgba(16, 196, 101,0.65) 0%,rgba(237, 224, 36,0.9) 25%,rgba(16, 196, 101,0.9) 75%,rgba(237, 224, 36,1) 100%);
  box-shadow: 0px 10px 10px rgba(237, 224, 36, 0.7);
}